app/compiled-templates/c%%%%users%%luis.rodriguez%%documents%%netbeansprojects%%track%%app%%views%%account%%add.volt.php
/app/compiled-templates/
/app/logs/
/app/cache/
/app/config/configuration.ini
nbproject/private/private.xml
